// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Helvetica;
}

h1 {
  font-weight: normal;
  text-align: center;
}

a {
  font-size: 14px;
  text-decoration: none;
  &:visited {
    color: blue;
  }
}

.container {
  width: 500px;
  margin: auto;
}
.you {
  border-left: 5px solid grey;
  padding: 5px;
  margin-bottom: 30px;
}
.coach {
  background-color: yellow;
  border-left: 5px solid grey;
  padding: 5px;
  margin-bottom: 30px;
}
